* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: 0.5rem;
}

h1, 
h2 {
    margin: 0.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

#mainnav a {
    font-size: 2rem;
}