/* global */
* {
    margin: 0;
    padding: 0;
}

/* element selectors */

html {
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: 0.5rem;
}

h1,
h2 {
    margin: 0.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

/* classes for alert prompt */

.alert {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
    padding: 20px;
    color: white;
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    box-shadow: 0px 0px 5px black;
    border-radius: 25rem;
    border-width: 2px;
    border-style: outset;
    border-color: black;
}

.alertWarning {
    background-color: #f44336;
}

.alertSuccess {
    background-color: #24de13;
}


.alertCaution {
    background-color: #e1900d;
}

/* modal css */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    width: 80%;
}

.modal-content h2 {
    color: #643BEB;
    font-style: italic;
}

.modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ID for main nav */

#mainnav a {
    margin: 1rem;
}